<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vetrandir.clicker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".Inventory" />
        <activity android:name=".IMedProvoda" />
        <activity android:name=".ISteklo" />
        <activity android:name=".IVtoip" />
        <activity android:name=".IServer" />
        <activity android:name=".ZhelezPlast" />
        <activity android:name=".IGrafen" />
        <activity android:name=".IResina" />
        <activity android:name=".ILopast" />
        <activity android:name=".IAntenna" />
        <activity android:name=".ITruba" />
        <activity android:name=".ICorpus" />
        <activity android:name=".IBaki" />
        <activity android:name=".IEkran" />
        <activity android:name=".IChip" />
        <activity android:name=".IVtoipovayaPlast" />
        <activity android:name=".IProvodka" />
        <activity android:name=".ISoplo" />
        <activity android:name=".IVint" />
        <activity android:name=".IProcessor" />
        <activity android:name=".IAccumulator" />
        <activity android:name=".ITurbina" />
        <activity android:name=".INasos" />
        <activity android:name=".ISolnechnayaPanel" />
        <activity android:name=".ISputnikovayaTarelka" />
        <activity android:name=".ITransponder" />
        <activity android:name=".IObtekatel" />
        <activity android:name=".IObshivka" />
        <activity android:name=".IComputer" />
        <activity android:name=".ITelephon" />
        <activity android:name=".ISputnik" />
        <activity android:name=".ISistemaShisneobespecheniya" />
        <activity android:name=".IShiloyModul" />
        <activity android:name=".IRaketniyUskoritel" />
        <activity android:name=".IBortovoyComputer" />
        <activity android:name=".IElektrodvigatel" />
        <activity android:name=".IMarsochod" />
        <activity android:name=".ILetaushayaMashina" />
        <activity android:name=".IPervayaStupen" />
        <activity android:name=".IVtorayaStupen" />
        <activity android:name=".ITretyaStupen" />
        <activity android:name=".IModulStancii" />
        <activity android:name=".IRaketa" />
        <activity android:name=".IMeshplanetnayaStanciya"></activity>
    </application>

</manifest>